.searchbarContainer{
    display: flex;
    flex-direction: column;
}
.id{
    font-weight: 400;
    margin-right: 5px;
}

.inputBar{
    border-radius: 5px;
}

.dropdown{
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.dropdown-row{
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
}

.search-inner{
    display: flex;
}