.topbarContainer{
    height: 70px;
    width: 100%;
    background-color: #FABA73;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo{
    font-size: 32px;
    margin-left: 20px;
    font-weight: 500;
}

.slogan{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 9px;
}