.formContainer{
    flex:2;
    margin-top: 25px;

}

.positionContainer{
    margin-bottom: 25px;
}

.title1{
    font-size: 20px;
    margin-bottom: 10px;
}
.route{
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchbar{
    margin-bottom: 10px;
}

.title2{
    font-size: 18px;
    
}

.option{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.optionVariable{
    margin-top: 7px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.radio{
    font-size: 18px;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    padding: 12px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 10px;
    border-radius: 12px;
    cursor: pointer;
}
.button:hover {
    background-color: #008CBA;
    color: white;
}

input[type=text] {
    width: 45%;
}
input[type=text]:focus {
  border: 3px solid #555;
}
